nav{
    background-color: aliceblue;
    padding: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    }
nav > div{
    border: 1px solid;
    padding: 10px;
    background-color: rgb(25, 27, 30);
    color: rgb(252, 255, 255);
}
nav > div >a {
    text-decoration: none;
    color: white;
}