#container{
    width: max-content;
    margin: auto;
    padding: 25px;
    margin-bottom: 40px;
    text-align: center;
    box-shadow: 8px 10px 20px 10px;
  }
  .btn-div{
    width: 10%;
margin: auto;
  }
  button{
    width: 95%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    font-size: 26px;
    font-weight: 500;
     background-color: rgb(26, 190, 155);
  }
  .options{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  h1{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
  }
  .options > div{
    text-align: left;
    margin-left:4%;
  }